<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>productname</key>
	<array>
		<dict>
			<key>Category</key>
			<array>
				<string></string>
				<dict>
					<key>product nme</key>
					<string></string>
				</dict>
				<dict>
					<key>Product Name</key>
					<dict>
						<key>Mech 1</key>
						<string>AR770/456-3</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Category</key>
			<dict>
				<key>Mech 1</key>
				<string>EDFGKKL</string>
				<key>Trade Price</key>
				<string>$23.10</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
