<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LN770/2RJ2EWE</key>
    <string>LN770/2GPLWE</string>
    <key>LN770/2RJ2ECR</key>
    <string>LN770/2GPLCR</string>
    <key>LN770/2RJ2EBL</key>
    <string>LN770/2GPLBL</string>
    <key>XL770/1WE</key>
    <string>XLP770/1WEWE</string>
    <key>XL770/1GPLWE</key>
    <string>XLP770/1GPLWEWE</string>
    <key>XL770/2WE</key>
    <string>XLP770/2WEWE</string>
    <key>XL770/2GPLWE</key>
    <string>XL770/2GPLWE</string>
    <key>XL770/3WE</key>
    <string>XL770/3WE</string>
    <key>XL770/3GPLWE</key>
    <string>XLP770/3GPLWEWE</string>
    <key>XL770/4WE</key>
    <string>XLP770/4WEWE</string>
    <key>XL770/4GPLWE</key>
    <string>XLP770/4GPLWEWE</string>
    <key>XL770/5WE</key>
    <string>XLP770/5WEWE</string>
    <key>XL770/5GPLWE</key>
    <string>XLP770/5GPLWEWE</string>
    <key>XL770/6WE</key>
    <string>XLP770/6WEWE</string>
    <key>XL770/6GPLWE</key>
    <string>XLP770/6GPLWEWE</string>
    <key>XL777WE</key>
    <string>XLP777SWEWE</string>
    <key>XL777XWE</key>
    <string>XLP777XSWEWE</string>
    <key>XL777XBL</key>
    <string>XLP777XSBLBL</string>
    <key>XL787WE</key>
    <string>XLP787SWEWE</string>
    <key>XL787BL</key>
    <string>XLP787SBLBL</string>
    <key>XL770/1RJ2WE</key>
    <string>XLP770/1RJ2WEWE</string>
    <key>XL770/2RJ2WE</key>
    <string>XLP770/2RJ2WEWE</string>
    <key>XLP450PWEWE</key>
    <string>XLP770/1GPLWEWE</string>
    <key>XLP450PBLBL</key>
    <string>XLP770/1GPLBLBL</string>
    <key>XL400LWE</key>
    <string>XLP400LWEWE</string>
    <key>XL400LBL</key>
    <string>XL770/2BL</string>
    <key>XL400TWE</key>
    <string>XLP400TWEWE</string>
    <key>XL400TBL</key>
    <string>XL770/2BL</string>
    <key>LN450PWE</key>
    <string>LN770/1GPLWE</string>
    <key>LN450PCR</key>
    <string>LN770/1GPLCR</string>
    <key>LN450PBL</key>
    <string>LN770/1GPLBL</string>
    <key>LN400LWE</key>
    <string>LN770/2WE</string>
    <key>LN400LCR</key>
    <string>LN770/2CR</string>
    <key>LN400LBL</key>
    <string>LN770/2BL</string>
    <key>LN400TWE</key>
    <string>LN770/2WE</string>
    <key>LN400TCR</key>
    <string>LN770/2CR</string>
    <key>LN400TBL</key>
    <string>LN770/2BL</string>
</dict>
</plist>
